#LoginContainer
{
}

	#LoginContainer #LoginFormArea
	{
		background-color: #fff;
	}

		#LoginContainer #LoginFormArea > div.inner
		{
			border: 3px solid #999;
		}

		#LoginContainer #LoginFormArea #UserLogin,
		#LoginContainer #LoginFormArea #Password,
		#LoginContainer #LoginFormArea label.checkbox
		{
			width: 28%;
			margin-right: 3%
		}

		#LoginContainer #LoginFormArea label.checkbox
		{
			margin-right: 0px;
			display: inline-block;
		}

		#LoginContainer #LoginFormArea button.btn-primary
		{
			margin-top: 20px;
		}

		#LoginContainer #LoginFormArea button.btn-info
		{
			margin-top: 10px;
		}