<form class="form">
	<div class="input-prepend input-append">
		<div class="btn-group">
			<button class="btn dropdown-toggle" data-toggle="dropdown">
				<span class="action-value">Filter by: <span class="value"><strong>Last Updated Date</strong></span></span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li data-filter_value="Name"><a href="javascript:void(0);">Name</a></li>
				<li data-filter_value="Description"><a href="javascript:void(0);">Description</a></li>
				<li data-filter_value="LastUpdated"><a class="selected" href="javascript:void(0);">Last Updated Date</a></li>
				<li data-filter_value="Priority"><a href="javascript:void(0);">Severity</a></li>
				<li data-filter_value="Resolver"><a href="javascript:void(0);">Resolver</a></li>
				<li data-filter_value="Tester"><a href="javascript:void(0);">Tester</a></li>
			</ul>
		</div>
		<input class="span6 filter" type="text" placeholder="Enter criteria"/>
		<button class="btn" type="submit">Filter</button>
	</div>
</form>